<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>axios+vue</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
        <div id="app">
            <input type="button" value="获取笑话" @click="getJoke(num)">
            <input type="text" v-model="num">
            <p v-for="(item,index) in list">第{{index+1}}条笑话：{{item}}</p>
        </div>
</body>
<script>
        var vue = new Vue({ 
            el:'#app',
            data:{
                list:[],
                num:0
            },
            methods:{
                getJoke(num){
                    var that = this
                    axios.get("https://autumnfish.cn/api/joke/list?num="+num).then(function(res){
                        console.log(res)
                        that.list = res.data.jokes
                    },function(err){
                        console.log(err)
                    })
                }
            }
        })
</script>
</html>